@model Extra.Models.Instructor

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Instructor</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdInstructor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdInstructor)
            @Html.ValidationMessageFor(model => model.IdInstructor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CorreoElectronico)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CorreoElectronico)
            @Html.ValidationMessageFor(model => model.CorreoElectronico)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Activo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Activo)
            @Html.ValidationMessageFor(model => model.Activo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaIngreso)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaIngreso)
            @Html.ValidationMessageFor(model => model.FechaIngreso)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
